:root{
	--main-text-color: #c3c3c3;
	--main-background-color: #000000;
}

*{
	color: var(--main-text-color);
	font-style: italic;
}
body{
	overflow-y: overlay;
}

body::-webkit-scrollbar,body::-webkit-scrollbar-thumb {
  width: .5vh;
  -webkit-box-shadow: inset 0 0 0 1vh rgba(100, 1, 9, 0.2);
  /*background-color: #555;*/
  background-clip: padding-box;
  border-radius: .5vh;
}
body::-webkit-scrollbar-thumb {
	-webkit-box-shadow: inset 0 0 0 1vh rgba(100, 1, 9, 0.9);
}

img{
	max-width: unset;
}


/*///////////////////SECCION CONTENT///////////////////*/
.div-contenedor__content{
	grid-column: 1/span 3;
	grid-row: auto/span 1;
	background-color: orange;
	height: max-content; /*Colocar esto cuando haya contenido.*/
	
}

.__content-contenedor{
	position: relative;
	display: flex;
	flex-grow: row nowrap;
	height: 20vh; /*46*/
	width: 100%;
}

.__content-contenedor:nth-child(even){
	direction: rtl;
}

.__content-contenedor:nth-child(even) p{
	text-align: left;
}

.__content-contenedor img{
	border: 1px solid blue;
	object-fit: contain;
	height: 100%;
	width: 100%;
}


.__content-contenedor p{
	color: rgba(0, 0, 0, 0); /*Efecto para transicion hover suave del scroll: Aqui hacemos transparentes las letras.*/
	text-shadow: 0 0 var(--main-text-color); /*Efecto para transicion hover suave del scroll: Aqui solo hacemos notar por su sombra*/
	transition: color .4s ease;
	overflow-y: overlay;
}
.__content-contenedor:hover > p{
	color: rgba(0, 0, 0, 0.3);
}

/*SCROLL STYLE*/
/*Para cambiar el estilo del scroll, tenemos que empezar por
el ::-webkit-scrollbar*/

/*.__content-contenedor:hover > p::-webkit-scrollbar{
	width: 1vh;
}*/

/*::-webkit-scrollbar: hace referencia al scroll completo.*/
/*.__content-contenedor p::-webkit-scrollbar {
	width: 0vh;
    
	
    /*animation-name: esconder-scroll;
	animation-duration: 2s;
	animation-iteration-count: infinite;
	animation-timing-function: cubic-bezier(1,1,1,1);
	animation-direction: alternate;
	animation-fill-mode: both;*/

/*}

/*::-webkit-scrollbar-track: hace referencia al "caminito (carril)" del scroll.*/
/*.__content-contenedor p::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey; 
  border-radius: 10px;
}

/*::-webkit-scrollbar-thumb: hace referencia al "tren (el elemento que se mueve del scroll)" del scroll.*/
.__content-contenedor p::-webkit-scrollbar:,.__content-contenedor p::-webkit-scrollbar-thumb {
  width: 1vh;
  -webkit-box-shadow: inset 0 0 0 1vh;
  /*background-color: #555;*/
  background-clip: padding-box;
  border-radius: 1vh;
}

.__content-contenedor p::-webkit-scrollbar,.__content-contenedor p::-webkit-scrollbar-thumb {
	width: 1vh;
	-webkit-box-shadow: inset 0 0 0 1vh;
	/*background-color: #555;*/
	background-clip: padding-box;
	border-radius: 1vh;
}

.__content-contenedor:nth-child(even) p::-webkit-scrollbar,.__content-contenedor:nth-child(even) p::-webkit-scrollbar-thumb{
	/*.5 los scroll de los child even (2,4,6,etc. Que en este caso son los scroll izquerdos) para que concuerden con los scroll estan a la derecha*/
	width: .5vh; 
	border-radius: .5vh; 
}

.__content-contenedor p::-webkit-scrollbar-thumb:active {
	background: #fff;
}

/*/////////HTML CONTENT/////////*/
.__content--contenedor__html-icon{
	
}
.__html-icon--parraf{
	
}

/*/////////FIN HTML CONTENT/////////*/


/*/////////CSS CONTENT/////////*/
.__content--contenedor__css-icon{
	/*order: 1;*/ /*Descomentar esto para ver un efecto interesante.*/
}
.__css-icon--parraf{

}

/*/////////FIN CSS CONTENT/////////*/

/*///////////////////FIN SECCION CONTENT///////////////////*/

.__header-nav{
	position: relative;
	display: flex;
	flex-flow: row wrap;
	/*justify-content: space-around; /*Alineacion de elementos hijos en el eje X*/
	justify-content: space-evenly;
	align-content: space-around;
	height: 100%;
	/*text-align: center;*/

}

.__header-nav-ul{
	align-self: center; /*Alineacion en el eje Y*/
	padding: 0; /*1em*/
	flex: 1 1 0;
	min-width: 108px;
	
}

.__header-nav-ul--li{
	display: inline-block;
	padding: 1em 0;
	width: 100%;
	height: 100%;
	text-align: center;
	/*outline: 1px solid blue;
	outline-offset: -1px;*/
}
.__header-nav-ul--li::marker{
	content: "";
}
.div-contenedor__nav__header{
	grid-column: 1/span 3; /*le indicamos al header que ocupara 3 espacios de columnas, desde la primera columna.*/
	grid-row: 1/span 1; /*Le indicamos que ocupe solo un espacio de fila.*/
	background: var(--main-background-color); /*#060606;*/
	position: relative;
	/*height: 7.5vh;*/
	height: max-content;
	
}



.bigbast{

	/*background: radial-gradient(farthest-corner at top, #FFFFFF 0%, #ffb3ff 4%, #ff33ff 12.25%, #800080 31.25%, #b300b3 50%) top right/200% 200%;
	*/

	/*background: radial-gradient(circle, orange 10%,green 10%,red 25%);
	*/
	/*background: radial-gradient(circle, orange, green,red);*/
	background-size: 300% 300%;
	/*animation-name: gradient-background;
	animation-duration: 3.8s;
	animation-iteration-count: infinite;
	animation-timing-function: cubic-bezier(1,1,1,1);
	animation-direction: normal;
	animation-fill-mode: both;*/

	max-width: unset;
  	width: 120px; /*18vh;*/ /*15vh => 100px*/
  	height: 50px;
  	object-fit: cover; /*Mostramos siempre el centro del svg
  						independiente del tamaño de la pantalla.*/


  	position: relative;
  	/*margin: auto;*/
	/*right: 50%;*/
	/*left: 50%;*/
	/*transform: translate(50%);*/
	border-radius: 5px;
	/*display: none; /*quitar esto despues de pruebas*/

	background-image: url(recursos/circle-background.gif);
	background-position-y: 0px;
	background-position-x: center;
	background-size: 124px;


	


}

.bigbastb{
	background: radial-gradient(circle, orange, green,red);
	background-size: 200% 200%;
	animation-name: gradient-background-o2;
	animation-duration: 2s;
	animation-iteration-count: infinite;
	animation-timing-function: cubic-bezier(1,1,1,1);
	animation-direction: alternate;
	animation-fill-mode: both;	
	
  	
	overflow:hidden;
}

rect#background.accent{
	fill: #0000ff;
}
.div-contenedor{
	display: grid;

	grid-template-columns: repeat(3, 1fr);
	/*grid-template-rows: 8% 36% 46% 10%; 

	/*grid-template-areas: 
	"header header header"
	"presentation presentation presentation"
	"content content content"
	"content content content"
	"footer footer footer";*/

	/*height: 95vh;*/
}



/*//////////////BLOQUE DE PRESENTACION//////////////*/

.div-contenedor__presentacion{
	grid-column: 1/span 3;
	grid-row: 2/span 1; /*Le indicamos que ocupe solo un espacio de fila. En la fila 2.*/
	background-image: url(recursos/circle-background.gif);
	background-position: bottom;
	/*background-image: url(recursos/pep.gif);
	background-size: cover;*/
	position: relative;
	overflow: hidden;
	height: 36vh;
}

/*DIV DE FONDO <div>*/
.div-contenedor__presentacion--fondo{
	position: absolute;
	width: 55%;
	height: 100%;
	/*centrar imagen*/
	margin-left: auto;
	margin-right: auto;
	left: 0;
	right: 0;
	
	border: 1.5px solid black;

	text-align: center; /*Alineamos todos los elementos del div*/

}

/*PARRAFO <p>*/

/*GIF RANA PEPE <img>*/
.div-contenedor__presentacion--gif{
	position: relative;
	width: 20%;
	height: 40%;

	margin-top: 1.50%;
	
	margin-bottom: auto;
	top: 0;
	bottom: 0;
	
}
/*FIN DIV DE FONDO*/

/*Ambas pantallas falsas <div>*/
.div-contenedor__presentacion--pantalla-falsa{
	position: absolute;
	width: 50%;
	height: 100%;

	/*Propiedades transition*/
	transition-property: transform;
	transition-duration: 0.8s;
	transition-timing-function: linear;

	background-image: url(recursos/cortina.svg);

	

	background-position: center;

}

/*Pantalla falsa izquerda*/
.div-contenedor__presentacion--pantalla-falsa:nth-of-type(2){
	
	

	/*background-image: url(recursos/cortina.svg);

	background-size: cover;

	background-clip: padding-box;

	padding: 0;*/


}

#--presentacion-falsa__logo{
    object-fit: cover;
    object-position: center;
    max-width: 50;
    /* max-width: max-content; */
    /* max-width: 95%; */
    /* position: relative; */
    height: 100%;
    width: 100%;
    max-width: 562px;
    /* padding: 0; */
    /* margin: 0; */

}

#--presentacion-falsa__texto{
    /* height: 100%; */
    text-align: center;
    font-size: 200%;
    font-family: fantasy;
}

/*Pantalla falsa derecha*/
.div-contenedor__presentacion--pantalla-falsa:nth-of-type(3){
	
	right: 0%; /*Lo alejamos lo menos posible del lado derecho*/
	

}
/*Fin ambas pantallas falsas <div>*/

/*//////////////FIN BLOQUE DE PRESENTACION//////////////*/





.div-contenedor__footer{
	grid-column: 1/span 3;
	grid-row: auto/span 1;
	background-color: darkred;
	height: 10vh;
}

/*///////////////////////////HOVERS///////////////////////////*/

/*----Bloque de presentacion----*/

.div-contenedor__presentacion:hover > .div-contenedor__presentacion--pantalla-falsa:nth-of-type(2){
	/*transform: translateX(-250vh); Esta linea no sirve de mucho*/
	transform: translateX(-100%);
}

.div-contenedor__presentacion:hover > .div-contenedor__presentacion--pantalla-falsa:nth-of-type(3){
	/*transform: translateX(250vh); Esta linea no sirve de mucho*/
	transform: translateX(100%);
}



/*///////////////////////////FIN HOVERS///////////////////////////*/

/*///////////////////////////ANIMACIONES///////////////////////////*/

@keyframes esconder-scroll{
	0%{
		width: 1vh;
	}
	100%{
		width: 0px;
	}
}


@keyframes gradient-background{
	/*0%{
		background:green;
	}
	50%{
		background: orange;
	}
	100%{
		background: red;
	}*/


	/*0%{
		background: radial-gradient(circle, orange, green,red);
	}
	50%{
		background: radial-gradient(circle, red, orange,green);

	}

	100%{

		background: radial-gradient(circle, green, red,orange);

	}*/

	0%{
		background-position: 25% 25%; /*horizontal, vertical*/
	}
	25%{
		background-position: 75% 25%;
	}
	50%{
		background-position: 75% 75%;
	}
	75%{
		background-position: 25% 75%;	
	}
	100%{
		background-position: 25% 25%;	
	}
}

@keyframes gradient-background-o2{
	0%{
		background-position: 25% 25%; /*horizontal, vertical*/
	}
	25%{
		background-position: 75% 25%;
	}
	50%{
		background-position: 75% 75%;
	}
	75%{
		background-position: 25% 75%;	
	}
	100%{
		background-position: 25% 25%;	
	}
	/*0%{
		background-size: 100% 100%;  //width, height
	}
	50%{
		background-size: 300% 300%;
	}
	100%{
		background-size: 600% 600%;	
	}*/
}
/*///////////////////////////FIN ANIMACIONES///////////////////////////*/
@keyframes rotar {
	0%{
		transform: rotate(0deg);
		
	}
	


	100%{
		
		transform: rotate(359deg);
	}
}

@keyframes deslizarFinDerecha {

	0%{
		
	}

	100%{
		transform: translateX(50px);
	}


}

@keyframes deslizarFinIzquerda {

	0%{
		
		
	}

	100%{
		transform: translateX(0);
	}
}

/*//////////////////////////MEDIAS QUERIES//////////////////////////*/
@media only screen and (max-width: 373px){
	.bigbast{
		display: none;
	}

	.__header-nav{
		background-image: url(recursos/bigbast.svg);
		background-size: cover;
		background-position: center;
	}
}